# <h1><center>ASSIGNMENT-1</center></h1>
## By:-
## Srishti Singh
## 2018013720
## CSE-G
## Group-1

### <center>DATA TYPES IN PYTHON </center>
Every value in any programming language has a type , so is the case of Python.
Since,Python is a object oriented language, every "Variable" is an "object" and it belongs to a "class" which is it's "Datatype".

The various data types in python are as follows :-

### <center>1. PYTHON NUMBERS</center>
This can be further divided into three categories:-
#### 1. Integers :-
They are defined as "int" .Integers can be of any length, it is only limited by the memory available .

In [8]:
a=5
type(a)

int

In [9]:
from sys import getsizeof
getsizeof(a)

28

#### 2. Float :-
A floating point number is accurate up to 15 decimal places. Integer and floating points are separated by decimal points. 1 is integer, 1.0 is floating point number.

In [15]:
Pi=3.14
print(Pi)

3.14

In [20]:
type(Pi)

float

In [16]:
a=0.123456789123456789
print(a)

0.12345678912345678

It gets truncated as it is a float number.

#### 3. Complex :-
Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part. Here, we use 'j' intead of iota 'i' , which we used in mathematics to represent '-1'.

In [18]:
c=3+4j
print(c)

(3+4j)

In [21]:
type(c)

complex

### 2. PYTHON LIST
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. A single list can contain items of different datatypes.They are also "mutable" data types.

#### DECLARING and RUNNING A PYTHON LIST :-
Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].

In [34]:
l=[1,2,3+4j,'list']
print(l)

[1, 2, (3+4j), 'list']

In [35]:
type(l)

list

### 4. PYTHON TUPLE :-
Tuple is an ordered sequence of items same as list.The only difference is that tuples are "immutable". Tuples once created cannot be modified.
Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.
It is defined within parentheses () where items are separated by commas.
We can use the slicing operator [] to extract items but we cannot change its value.

In [36]:
l=['I','am a list']
print(l)
print("My type is :",type(l))
t=('I','am a tupple')
print(t)
print("My type is :",type(t))

['I', 'am a list']
My type is : <class 'list'>
('I', 'am a tupple')
My type is : <class 'tuple'>

### 3. PYTHON STRINGS :-
String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """.Like list and tuple, slicing operator [ ] can be used with string. Strings are "immutable", unlike lists.

In [37]:
s='I am a string'
print(s)
type(s)

I am a string

str

### 4. PYTHON SET :-
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [38]:
s={1,2,3,4,5,7,6,9}
print("s= ",s)

s=  {1, 2, 3, 4, 5, 6, 7, 9}

In [41]:
type(s)

set

We can perform set operations like union, intersection on two sets.

In [39]:
s1={1,2,3}
s2={3,4,5}
print("Set 1 is =",s1)
print("Set 2 is =",s2)
print("Union of Set 1 and Set 2 =",s1|s2)
print("Intersection of Set 1 and Set 2 =",s1&s2)

Set 1 is = {1, 2, 3}
Set 2 is = {3, 4, 5}
Union of Set 1 and Set 2 = {1, 2, 3, 4, 5}
Intersection of Set 1 and Set 2 = {3}

Set have unique values. They eliminate duplicates.

In [40]:
s={1,1,2,2,2,3,3,4,4,4,4}
print(s)

{1, 2, 3, 4}

Since, set are unordered collection, indexing has no meaning. Hence the slicing operator [] does not work.

### 5. PYTHON DICTIONARY :-
Dictionary is an unordered collection of key-value pairs.
It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.
In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [47]:
d={'key':'value'}
print(d)
type(d)

{'key': 'value'}

dict

We use key to retrieve the respective value. But not the other way around.

In [48]:
d={1:2018,2:2019}
print(d[1])
print(d[2])

2018
2019

In [50]:
d={1:2018,2:2019}
print(d[2018])

KeyError: 2018